{{fg.value | json}}
<form nz-form [formGroup]="fg" nzLayout="vertical">

  <!-- ERROR TEMPLATE-->
  <ng-template #errorTpl let-control>
    <ng-container *ngIf="control.hasError('required')">
      필수 입력 값입니다.
    </ng-container>
  </ng-template>

  <!-- 1 row -->
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <!--업무영역 필드-->
      <app-nz-input-text #title
        [parentFormGroup]="fg" formControlName="domain" [fieldName]="'domain'"
        [itemId]="'domain'" [label]="'업무영역'"
        placeholder="업무영역을 입력해주세요."
        [required]="true" [nzErrorTip]="errorTpl">
      </app-nz-input-text>
    </div>

    <div nz-col nzSpan="12">
      <!--용어 필드-->
      <app-nz-input-text
        [parentFormGroup]="fg" formControlName="term" [fieldName]="'term'"
        [itemId]="'term'" [label]="'용어'"
        placeholder="용어를 입력해주세요."
        [required]="true" [nzErrorTip]="errorTpl">
      </app-nz-input-text>
    </div>
  </div>

  <!-- 2 row -->
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <!--한글명 필드-->
      <app-nz-input-text
        [parentFormGroup]="fg" formControlName="nameKor" [fieldName]="'nameKor'"
        [itemId]="'nameKor'" [label]="'한글명'"
        placeholder="한글명을 입력해주세요."
        [required]="true" [nzErrorTip]="errorTpl">
      </app-nz-input-text>
    </div>

    <div nz-col nzSpan="12">
      <!--한글약어 필드-->
      <app-nz-input-text
        [parentFormGroup]="fg" formControlName="abbreviationKor" [fieldName]="'abbreviationKor'"
        [itemId]="'abbreviationKor'" [label]="'한글약어'"
        placeholder="한글 약어를 입력해주세요."
        [required]="true" [nzErrorTip]="errorTpl">
      </app-nz-input-text>
    </div>
  </div>

  <!-- 3 row -->
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <!--영어명 필드-->
      <app-nz-input-text
        [parentFormGroup]="fg" formControlName="nameEng" [fieldName]="'nameEng'"
        [itemId]="'nameEng'" [label]="'영어명'"
        placeholder="영어명을 입력해주세요."
        [required]="true" [nzErrorTip]="errorTpl">
      </app-nz-input-text>
    </div>

    <div nz-col nzSpan="12">
      <!--영어명 필드-->
      <app-nz-input-text
        [parentFormGroup]="fg" formControlName="abbreviationEng" [fieldName]="'abbreviationEng'"
        [itemId]="'abbreviationEng'" [label]="'영어 약어'"
        placeholder="영어 약어를 입력해주세요."
        [required]="true" [nzErrorTip]="errorTpl">
      </app-nz-input-text>
    </div>
  </div>

  <!-- 4 row -->
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <!--설명 필드-->
      <app-nz-input-textarea
        [parentFormGroup]="fg" formControlName="description" [fieldName]="'description'"
        [itemId]="'description'" [label]="'설명'"
        placeholder="설명을 입력해주세요."
        [rows] = "20"
        [required]="false" [nzErrorTip]="errorTpl">
      </app-nz-input-textarea>
    </div>

    <div nz-col nzSpan="12">
      <!--설명 필드-->
      <app-nz-input-textarea
        [parentFormGroup]="fg" formControlName="comment" [fieldName]="'comment'"
        [itemId]="'comment'" [label]="'비고'"
        placeholder="비고을 입력해주세요."
        [rows] = "20"
        [required]="false" [nzErrorTip]="errorTpl">
      </app-nz-input-textarea>
    </div>
  </div>

</form>

<div class="footer">
  <app-nz-crud-button-group
    [searchVisible]="false"
    [isSavePopupConfirm]="false"
    (closeClick)="closeForm()"
    (saveClick)="submitTerm()"
    (deleteClick)="deleteTerm()">
  </app-nz-crud-button-group>
</div>
