{{fg.value | json}}
<form nz-form [formGroup]="fg" nzLayout="vertical">
  <!-- 폼 오류 메시지 템플릿 -->
  <ng-template #errorTpl let-control>
    <ng-container *ngIf="control.hasError('required')">
        필수 입력 값입니다.
    </ng-container>
    <ng-container *ngIf="control.hasError('exists')">
        기존 코드가 존재합니다.
    </ng-container>
  </ng-template>

  <!-- 1 row -->
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <app-nz-input-text
        formControlName="resourceCode"
        [parentFormGroup]="fg"
        [fieldName]="'resourceCode'"
        [itemId]="'resourceCode'"
        [label]="'리소스코드'"
        placeholder="리소스코드를 입력해주세요."
        [required]="true"
        [nzErrorTip]="errorTpl">
      </app-nz-input-text>
    </div>

    <div nz-col nzSpan="12">
      <app-nz-input-text
        formControlName="resourceName"
        [parentFormGroup]="fg"
        [fieldName]="'resourceName'"
        [itemId]="'resourceName'"
        [label]="'리소스명'"
        [required]="true"
        [nzErrorTip]="errorTpl">
      </app-nz-input-text>
    </div>
  </div>

  <!-- 2 row -->
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzFor="resourceType" nzRequired [nzXs]="formLabelXs" [nzSm]="formLabelSm">리소스타입</nz-form-label>
        <nz-form-control [nzXs]="formControlXs" [nzSm]="formControlSm" nzErrorTip="필수 입력 값입니다.">
            <!--<input nz-input id="resourceType" formControlName="resourceType" placeholder="리소스타입을 입력해주세요.">-->
            <nz-select formControlName="resourceType"  nzPlaceHolder="Please select">
                <nz-option *ngFor="let option of resourceTypeList" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
            </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzSpan="12">
      <app-nz-input-text
        formControlName="url"
        [parentFormGroup]="fg"
        [fieldName]="'url'"
        [itemId]="'url'"
        [label]="'URL 정보'"
        [required]="true"
        placeholder="URL 정보를 입력해주세요."
        [nzErrorTip]="errorTpl">
      </app-nz-input-text>

    </div>
  </div>

  <!-- 3 row -->
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label nzFor="description" [nzXs]="formLabelXs" [nzSm]="formLabelSm">설명</nz-form-label>
        <nz-form-control [nzXs]="formControlXs" [nzSm]="formControlSm">
            <textarea nz-input id="description" formControlName="description" placeholder="리소스 설명을 입력해주세요." [nzAutosize]="{ minRows: 6, maxRows: 10 }"></textarea>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

</form>

<div class="footer">
    <button nz-button (click)="closeForm()">
        <i nz-icon nzType="form" nzTheme="outline"></i>
        닫기
    </button>
    <nz-divider nzType="vertical"></nz-divider>
    <button nz-button nzType="primary"
        nz-popconfirm nzPopconfirmTitle="저장하시겠습니까?"
        (nzOnConfirm)="submitProgram()" (nzOnCancel)="false">
        <i nz-icon nzType="save" nzTheme="outline"></i>
        저장
    </button>
    <nz-divider nzType="vertical"></nz-divider>
    <button nz-button nzDanger
        nz-popconfirm nzPopconfirmTitle="삭제하시겠습니까?"
        (nzOnConfirm)="deleteProgram(this.fg.get('resourceCode')?.value)" (nzOnCancel)="false">
        <i nz-icon nzType="delete" nzTheme="outline"></i>
        삭제
    </button>

</div>
