{{fg.value | json}}
<form nz-form [formGroup]="fg" nzLayout="vertical">
  <!-- 폼 오류 메시지 템플릿 -->
  <ng-template #errorTpl let-control>
    <ng-container *ngIf="control.hasError('required')">
      필수 입력 값입니다.
    </ng-container>
    <ng-container *ngIf="control.hasError('exists')">
      기존 코드가 존재합니다.
    </ng-container>
  </ng-template>

  <div class="card-1">
    <!--권한 필드(신규)-->
    <!--
    <nz-form-item>
      <nz-form-label nzFor="authority" nzRequired [nzXs]="defaultLabelSize.xs" [nzSm]="defaultLabelSize.sm">권한</nz-form-label>
      <nz-form-control nzHasFeedback [nzXs]="defaultControlSize.xs" [nzSm]="defaultControlSize.sm" [nzErrorTip]="errorTpl">
        <input nz-input id="authority" formControlName="authority" placeholder="권한코드를 입력해주세요." nzSize="small">
      </nz-form-control>
    </nz-form-item>
-->
    <app-nz-input-text
      formControlName="authority"
      [parentFormGroup]="fg"
      [fieldName]="'authority'"
      [itemId]="'authority'"
      [label]="'권한'"
      placeholder="권한코드를 입력해주세요."
      [required]="true"
      [nzErrorTip]="errorTpl">
    </app-nz-input-text>

    <!--설명 필드-->
    <nz-form-item>
        <nz-form-label nzFor="description" [nzXs]="defaultLabelSize.xs" [nzSm]="defaultLabelSize.sm">설명</nz-form-label>
        <nz-form-control [nzXs]="defaultControlSize.xs" [nzSm]="defaultControlSize.sm">
            <textarea nz-input id="description" formControlName="description" placeholder="권한에 대한 설명을 입력해주세요." [nzAutosize]="{ minRows: 10, maxRows: 20 }"></textarea>
        </nz-form-control>
    </nz-form-item>

    <app-nz-input-textarea
      formControlName="description"
      [parentFormGroup]="fg"
      [fieldName]="'description'"
      [itemId]="'description'"
      [label]="'설명'"
      placeholder="권한에 대한 설명을 입력해주세요."
      [required]="true"
      [nzErrorTip]="errorTpl">
    </app-nz-input-textarea>
  </div>
</form>

<div class="footer">
  <app-nz-crud-button-group
    (closeClick)="closeForm()"
    (saveClick)="saveAuthority()"
    (deleteClick)="deleteAuthority(this.fg.get('authority')?.value)">
  </app-nz-crud-button-group>
</div>
